<!-- py does padding mt-auto does margin top as auto  -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2020</span>
    </div>
</footer>